<div class="alert alert-warning" role="alert" style="text-align: center">
  <strong>RENKLER</strong>
</div>

<div *ngIf = "dataLoaded == false" class="spinner-border text-primary" role="status">
  <span class="visually-hidden">Loading...</span>
</div>

<table *ngIf = "dataLoaded == true" class="table table-bordered">
  <thead class="table-light">
    <tr>
      <th style="text-align: center;">Id</th>
      <th style="text-align: center;">Renk</th>
    </tr>
  </thead>
  <tr *ngFor ="let color of colors">
    <td>{{color.colorId}}</td>
    <td>{{color.colorName}}</td>
  </tr>
</table>


