<div class="alert alert-dark" role="alert" style="text-align: center">
  <strong>KİRALAMALAR</strong>
</div>

<div *ngIf = "dataLoaded == false" class="spinner-border text-primary" role="status">
  <span class="visually-hidden">Loading...</span>
</div>

<table *ngIf = "dataLoaded == true" class="table table-bordered">
  <thead class="table-light">
    <tr>
      <th style="text-align: center;">Id</th>
      <th style="text-align: center;">Marka</th>
      <th style="text-align: center;">Ad</th>
      <th style="text-align: center;">Soyad</th>
      <th style="text-align: center;">Kiralama Tarihi</th>
      <th style="text-align: center;">Bitiş Tarihi</th>
    </tr>
  </thead>

  <tr *ngFor ="let rental of rentals">
    <td>{{rental.rentalId}}</td>
    <td>{{rental.brandName}}</td>
    <td>{{rental.firstName}}</td>
    <td>{{rental.lastName}}</td>
    <td>{{rental.rentDate}}</td>
    <td>{{rental.returnDate}}</td>
  </tr>
</table>


